.reviews {
    &__header {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #0D0D0D;
    }
    &__item {
        margin: 0 auto;
        margin-top: 60px;
        display: flex;
        justify-content: center;
        &_img {
            width: 169px;
            height: 169px;
        }
        &_wrapper {
            display: flex;
            flex-direction: column;
            margin-left: 60px;
            max-width: 680px;
        }
        &_name {
            font-weight: 700;
            font-size: 18px;
            color: #0D0D0D;
        }
        &_exp {
            font-weight: 500;
            font-size: 14px;
            color: #646464;
        }
        &_descr {
            margin-top: 10px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #0D0D0D;
            span {
                display: block;
                margin-top: 17px;
            }
        }
    }
}